{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Bienvenue dans l'administration de Plateforme Safebase</h1>
    <!-- Ajoutez ici du contenu personnalisé pour votre tableau de bord -->
{% endblock %}